@import "styles/variables";

.footer {
  position: relative;
  z-index: 10;
  background-color: $dark-brown;
  padding: $spacing-xxl;
}

.logo {
  img {
    filter: invert(1);
  }
}

.socials {
  li {
    display: inline-block;
  }
  .social {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: $spacing-s;
    background-color: white;
    border-radius: 100%;
    color: $dark-brown;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    .social {
      transform: scale(1.1, 1.1);
    }
  }
}
