@import "styles/variables";

.footer {
  position: relative;
  z-index: 10;
  background-color: $dark-brown;
  padding: $spacing-xxl;
}

.logo {
  img {
    filter: invert(1);
  }
}

@media screen and (max-width: $breakpoint-max-small) {
  .logo {
    max-width: $spacing-xxxl;
    margin-bottom: $spacing-xl;
  }
}
