@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";

$grid-breakpoints: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1440px,
  xxxl: 1600px
);

$container-max-widths: (
  xxxs: 0,
  xxs: 320px,
  xs: 548px,
  sm: 624px,
  md: 732px,
  lg: 936px,
  xl: 1120px,
  xxl: 1360px,
  xxxl: 1540px
);

@import "~bootstrap";

* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-color: $concrete;
  color: $black;
}

.container {
  @include media-breakpoint-down(xxl) {
    max-width: 100%;
  }
}
