.hero-section {
  background-color: $black;
  width: 100%;
  height: 100vh;
  min-height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: $spacing-xl;
  .hero-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    filter: brightness(70%); // remove when new video arrives
    video {
      width: 100%;
    }
  }
  .hero-content {
    position: relative;
    width: 100%;
    color: $white;
    text-align: center;
    .hero-buttons {
      margin-top: 64px;
    }
  }
}

.category-link {
  &-elements {
    margin: $spacing-xxl 0;
    cursor: pointer;
    position: relative;
    width: 60%;
    display: inline-block;
    text-align: left;
    .graphic {
      width: 120%;
      transition: all linear 0.3s;
      &-holder {
        // this is outer element!!
        border: 1px solid $black;
        overflow: hidden;
      }
    }
    .title {
      position: absolute;
      right: -$spacing-m;
      top: $spacing-m;
      padding: $spacing-m $spacing-m 4*$spacing-m;
      background-color: $dark-brown;
      h2 {
        color: $concrete;
        font-weight: 100;
      }
      .category-arrow {
        position: absolute;
        bottom: $spacing-s;
        left: $spacing-s;
        span {
          background-color: $concrete;
          display: block;
          position: absolute;
          left: 0;
          bottom: 0;
          transition: all 0.3s linear;
          &:first-child {
            height: 40px;
            width: 1px;
          }
          &:last-child {
            width: 40px;
            height: 1px;
            &:before, &:after {
              display: block;
              content: '';
              position: absolute;
              width: 10px;
              height: 1px;
              background-color: inherit;
              right: 0;
            }
            &:before {
              transform: rotate(45deg) translate(-2px, -3px);
            }
            &:after {
              transform: rotate(-45deg) translate(-2px, 3px);
            }
          }
        }
      }
    }
    .description {
      position: absolute;
      left: -$spacing-m;
      bottom: -$spacing-m;
      padding: $spacing-m;
      border: 1px solid $black;
      background-color: $white;
      width: 40%;
    }
    &:hover {
      .graphic {
        margin-left: -20%;
        transition: all 4s;
      }
      .title {
        .category-arrow {
          span {
            &:first-child {
              height: 0;
            }
            &:last-child {
              width: 80px;
            }
          }
        }
      }
      .description {

      }
    }
  }
  &-holder {
    &:nth-of-type(1) {
      text-align: right;
    }
    &:nth-of-type(2) {
      text-align: center;
    }
    &:nth-of-type(3) {
      text-align: left;
    }
  }
}
