.hero-section {
  width: 100%;
  height: 100vh;
  min-height: 200px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-bottom: $spacing-xl;
  .hero-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    filter: brightness(70%); // remove when new video arrives
    video {
      width: 100%;
    }
  }
  .hero-content {
    position: relative;
    width: 100%;
    color: $white;
    text-align: center;
    .hero-buttons {
      margin-top: 64px;
    }
  }
}
