$white:         white;
$black:       #161616;
$dark-brown:  #252422;
$ash:         #9E9E9E;
$silver:      #EFEFEF;
$concrete:    #F3F3F3;

$spacing-xxs:     4px;
$spacing-xs:      8px;
$spacing-s:      16px;
$spacing-sm:     24px;
$spacing-m:      32px;
$spacing-l:      40px;
$spacing-xl:     64px;
$spacing-xxl:   104px;
$spacing-xxxl:  168px;
$spacing-xxxxl: 272px;

$font-normal:      14px;
$font-normal-plus: 16px;
