@import "styles/variables";

.collectionCard {
  cursor: pointer;
  text-decoration: none !important;
}

.cardIllustration {
  overflow: hidden;
  height: 260px;
  img {
    line-height: 1;
    transition: all 0.3s;
  }
}

.cardDetails {
  position: relative;
  background-color: $dark-brown;
  color: white;
  margin-left: $spacing-l;
  transform: translate(0, -50%);
  padding: $spacing-s $spacing-s 3*$spacing-s;
}

.cardTitle {
  margin: 0;
  margin-bottom: $spacing-xxs;
}

.cardDescription {
  font-size: 12px;
  text-decoration: none;
}

.linkArrow {
  position: absolute;
  bottom: $spacing-s;
  left: $spacing-s;
  span {
    background-color: $concrete;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s linear;
    &:first-child {
      height: 20px;
      width: 1px;
    }
    &:last-child {
      width: 20px;
      height: 1px;
      &:before, &:after {
        display: block;
        content: '';
        position: absolute;
        width: 10px;
        height: 1px;
        background-color: inherit;
        right: 0;
      }
      &:before {
        transform: rotate(45deg) translate(-2px, -3px);
      }
      &:after {
        transform: rotate(-45deg) translate(-2px, 3px);
      }
    }
  }
}

.collectionCardLink, .collectionCardLink:hover, .collectionCardLink:link, .collectionCardLink:active {
  text-decoration: none;
}

.collectionCard {
  &:hover {
    .cardIllustration {
      img {
        transform: scale(1.05, 1.05);
      }
    }
    .cardDetails {
      .linkArrow {
        span {
          &:first-child {
            height: 0;
          }
          &:last-child {
            width: 40px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $breakpoint-max-medium) {
  .cardIllustration {
    height: 220px;
  }
}

@media screen and (max-width: $breakpoint-max-medium-small) {
  .cardIllustration {
    height: 200px;
  }
  .cardDetails {
    padding: $spacing-xs $spacing-s 4*$spacing-xs;
  }
  .linkArrow {
    transform: scale(0.6);
  }
}

@media screen and (max-width: $breakpoint-max-small) {
  .cardIllustration {
    height: 300px;
    width: 440px
  }
  .cardDetails {
    position: static;
    background-color: transparent;
    color: $black;
    margin-left: 0;
    transform: translate(0, 0);
    padding: $spacing-s 0;
    text-decoration: none;
  }
  .cardTitle {
    text-decoration: none;
  }

  .cardDescription {
    text-decoration: none;
  }
  .linkArrow {
    display: none;
  }
}
