@import "styles/variables";

.header {
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $spacing-xxl;
  padding: $spacing-m $spacing-l;
  z-index: 10;
  background-color: $white;
}

.logo {
  height: $spacing-xl;
  margin-right: auto;
}

// home header theme

.homeHeader {
  background-color: transparent;
  .logo {
    filter: invert(1);
  }
}
